<script src="/js/monitor/monitor_utils.js" type="text/javascript"></script>
<script src="/js/monitor/remote_camera.js" type="text/javascript"></script>
<script src="/js/monitor/timeline.js" type="text/javascript"></script>

<script> 
    $(document).ready(function() {

    var timeline = new Timeline();
    timeline.init();
    
    var remoteCamera = new RemoteCamera();
    remoteCamera.init();
    
    $("#snapshot_request").click( function() {

        var imgDiv = $("#requested_snapshot");

        if ( imgDiv.length == 0 ) {
            imgDiv = jQuery('<div/>', {
                id: 'requested_snapshot',
                class: 'snapshot'
            });    
        }
        
        imgDiv.html("<img src = '/assets/spinner.gif'/>");

        imgDiv.appendTo("#monitor_side_window");
        
        remoteCamera.requestSingleSnapshot();
        remoteCamera.checkForNewSnapshot();
    });

});
</script>

<br>
<center>

    <br><br>
   
    <div id = "monitor_main_window">        
        <div id = "monitor_side_window">
            <div id = "monitor_menu">
                <a id = "snapshot_request" class = "btn" type = "button">
                    <i class ="icon-camera"></i> grab a snapshot
                </a>
                
                <span>
                    <span id = "camera_status" class = "camera_info"></span>
                    <span id = "camera_last_seen" class = "camera_info"></span>
                    <span id = "camera_ip" class = "camera_info"></span>
                </span>
            </div>
        </div>
        <div id = "timeline_window">

            <div class="alert alert-info" style = "position: absolute; z-index: 1000; right: 5px; bottom: 70px ">
              <button type="button" class="close" data-dismiss="alert">&times;</button>
              <strong>Activity timeline</strong> click on a cluster to see snapshots and get more info.
           </div>            

           <div id = "monitor_timeline"></div>
       </div>
       
    </div>
    
</center>

