 <script src="/assets/monitor.js?body=1" type="text/javascript"></script>

<br>
<center>
    <p class = "muted">here you'll be able to monitor the activity of the remote camera</p> 

    <br><br>
    
    <div id = "monitor_main_window">
        <div id = "monitor_side_window"></div>
    </div>
    <div id = "timeline_window">
        <div id = "monitor_timeline"></div>
    </div>
    
</center>

