html {
    overflow-y: auto;
    height: 100%;
}

body {  
    background: none;
    height: 100%;
    background-image:url('tiny_grid.png')
}

.main_container {
    padding-top: 60px;   
}

#logo {

    float: left;
    margin-right: 10px;
    font-size: 2em;
    color: #333333;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    
    letter-spacing: -1px;
    padding-top: 7px;
    font-weight: bold;
    line-height: 1;
    &:hover {
        color: gray;
        text-decoration: none;
    }
}
